* {
    box-sizing: border-box  ;
}
body {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    border:1px solid red;
    flex-wrap: wrap;
    height: 500px;
    width:500px
   

}
.grid-row {
display: flex;
flex: 1;
flex-direction: column;

}

.grid-column {
    border:1px solid grey;
    flex: 1;
}