* {
    box-sizing: border-box  ;
}

html {
    background-color: rgb(241, 117, 204);
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 171, 230);
    margin:0px;
    border-radius: 15px;
}

#main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 117, 204);
    margin:0px
} 

.left,
.right {
    display: flex;
    align-items: center;
    gap: 15px;
}
#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.container {
    display: flex;
    border:5px solid rgb(255, 154, 205);
    background-color: rgba(256, 256, 256);
    height: 600px;
    width:600px;
    border-radius: 5px;
   
}
.grid-row {
display: flex;
flex: 1;
flex-direction: column;


}

.grid-column {
    border:1px solid rgba(0, 0, 0, 0.13);
    flex: 1;
    
    
}

button,
.color-selector {
    width:80px;
    height:35px;
    font-family: Arial, Helvetica, sans-serif;

}


.grid-column-active {
    flex: 1;
    

}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 171, 230);
    padding:30px;
}

.tool-bar {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px solid rgb(255, 154, 205);
    border-radius:5px;
    background-color: rgb(243, 239, 239);
}

.slide-container {
    display: flex;
    justify-content: space-evenly;
    width:300px;
}

img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.title {
    text-orientation: upright;
    writing-mode: vertical-lr;
    letter-spacing: 10px;
    font-size: 50px ;
    color: aliceblue;

}

.header-img {
display: flex;
justify-content: center;
height: 250px;
min-width: none;
flex:1;

}

.header-decoration {
    border: 1px solid rgba(241, 117, 204, 0);
    border-radius: 100px;
    flex:none;
    height:282.13px;
    
}

#logo {
    width: 700px;
    height: 383.02px;
}

#footer {
    display: flex;
    justify-content: center;
    gap:10px
}

.footer-text {
    display: flex;
    color:aliceblue;
    align-items: center;
}
.socials {
    width: 1.5em;
    height: auto;
}